body{
    background-color: black;
}
.container{
    display: flex;
    background-color: rgb(47, 50, 69);
    margin: 13%;
    height: 500px;
    width: 900px;
}
.inner-container{
    background-color: rgb(29, 29, 42);
    flex-direction: column;
    display :flex;
    margin: 6%;
    height: 390px;
    width: 700px;
    color: white;
}
.images{
    background-color: rgb(250, 84, 112);
    display: flex;
    height:110px ;
    width: 700px;
}
img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}
.names{
    margin-left: 10%;
}
.chat{
    display: flex;
    margin: 5%;
}
.chatbox{

    background-color: rgb(1, 1, 28);
    margin: 3%;
    height: 80px;
    width: 500px;
    border: 5%;
}
.message{
    text-align: justify;
    margin: 2%;
}